<!DOCTYPE html>
<html>
  <head>
    <% @include include/meta.html.tmpl %>
    <% @include include/css-links.html.tmpl %>
    <title>error</title>
    <script>
      function returnToApis() {
      window.location.href="/";
      }
    </script>
  </head>
  <body class="page-error">
    <div>
      <h1>Error</h1>
      <p><% @var error-message %></p>
      <form>
        <input type="button" value="Okay"
               onclick="returnToApis()"/>
      </form>
    </div>
  </body>
</html>
